body {
    background: #f8fafc;
}
a, a:visited {
    color: #000;
    text-decoration:none;
}
*::selection {
    background: #b3e6e4;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
